<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/theme.css" />

    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <header class="bg-main padding-8">
      <section class="top-header">
        <h1 class="width-50">
          <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </h1>
        <form id="search-form">
          <input type="search" name="search" id="search" />
          <button type="submit" id="search-btn">
            <i class="fas fa-search"></i>
          </button>
        </form>
        <p class="text-center">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </p>
      </section>
      <nav>
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <section>
      <img class="width-100" src="/images/img-home-banner.jpg" alt="" />
    </section>
    <main>
      <section id="last-visit-feedback">
        <h2 class="section-title">Basado en tu última visita</h2>
        <section class="article-container">
          <article class="product-card">
            <img
              class="width-100"
              src="/images/img-cafetera-moulinex.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 6.770</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-100"
              src="/images/img-cafetera-moulinex.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 6.770</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-100"
              src="/images/img-cafetera-moulinex.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 6.770</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-100"
              src="/images/img-cafetera-moulinex.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 6.770</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">Cafetera Moulinex</h3>
            </div>
          </article>
        </section>
      </section>
      <section id="on-sale">
        <h2 class="section-title">Seccion de ofertas</h2>
        <section class="article-container">
          <article class="product-card">
            <img
              class="width-100"
              src="/images/img-cafetera-moulinex.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 6.770</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-100"
              src="/images/img-cafetera-moulinex.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 6.770</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-100"
              src="/images/img-cafetera-moulinex.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 6.770</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="product-card">
            <img
              class="width-100"
              src="/images/img-cafetera-moulinex.jpg"
              alt=""
            />
            <div class="description-box">
              <i class="text-green delivery-icon fas fa-truck"></i>
              <p class="price">$ 6.770</p>
              <p class="discount text-green">40% OFF</p>
              <h3 class="description text-dark-gray">Cafetera Moulinex</h3>
            </div>
          </article>
        </section>
      </section>
    </main>
    <footer class="container-footer">
      <section>
        <p><i class="fas fa-credit-card"></i></p>
        <h2>Titulo</h2>
        <p>Descripcion</p>
      </section>

      <section>
        <p><i class="fas fa-gift"></i></p>
        <h2>Titulo</h2>
        <p>Descripcion</p>
      </section>

      <section>
        <p><i class="fas fa-user-shield"></i></p>
        <h2>Titulo</h2>
        <p>Descripcion</p>
      </section>

      <span>Copyright</span>
    </footer>
  </body>
</html>
