<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House" />
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <nav>
      <ul style="padding: 5px">
        <li>
          <a href="/movies">Lista de películas completa</a>
        </li>
        <li>
          <a href="/movies/recommended">Películas recomendadas</a>
        </li>
        <li>
          <a href="/movies/recommended">Nuevas películas</a>
        </li>
      </ul>
      <ul style="padding: 5px">
        <li>
          <a href="/genres">Lista de géneros</a>
        </li>
      </ul>
      <ul style="padding: 5px">
        <li>
          <a href="/actors">Lista de Actores</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
